@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .floater-desktop-height {
    height: calc(100vh - 56px);
  }
  .bottom-full-20px {
    bottom: calc(100% + 20px);
  }

  .bottom-full-6px {
    bottom: calc(100% + 6px);
  }

  .w-100-20px {
    width: calc(100% - 20px);
  }

  .border-radius-left-10 {
    border-radius: 10px 0px 0px 10px;
  }

  .right-full-420px {
    right: calc(100% + 420px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.loader-text {
  animation: fadeIn 1s infinite alternate ease-in-out;
}

@keyframes ldio-kt6l0q1qeb {
  0% {
    transform: translate(1.51px, 1.51px);
  }
  33.33% {
    transform: translate(77.01px, 1.51px);
  }
  66.66% {
    transform: translate(31.71px, 77.01px);
  }
  100% {
    transform: translate(1.51px, 1.51px);
  }
}

.ldio-kt6l0q1qeb > div {
  transform: scale(0.8);
  transform-origin: 75.5px 75.5px;
}

.ldio-kt6l0q1qeb > div > div {
  animation: ldio-kt6l0q1qeb 2s linear infinite;
  position: absolute;
}

.ldio-kt6l0q1qeb > div > div div:nth-child(1) {
  width: 54.36px;
  height: 54.36px;
  border-radius: 50%;
  border: 9.06px solid #292825;
  background: rgba(0, 0, 0, 0);
}

.ldio-kt6l0q1qeb > div > div div:nth-child(2) {
  width: 12.835px;
  height: 38.505px;
  transform: rotate(-45deg);
  background: #292825;
  border-radius: 0 0 6.04px 6.04px;
  position: absolute;
  top: 51.34px;
  left: 64.175px;
}
.loadingio-spinner-magnify-7pcozq1gdpt {
  width: 151px;
  height: 151px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-kt6l0q1qeb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-kt6l0q1qeb div {
  box-sizing: content-box;
}

.w-full-20 {
  width: calc(100% - 40px);
}

.translate-center {
  transform: translate(-50%, -50%);
}

.detail-card-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.28) 0%,
    rgba(0, 0, 0, 0.7) 74.48%
  );
}
.detail-card-opacity-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.gm-style {
  font-family: inherit;
}

.gm-style-iw {
  border-radius: 0.75rem !important;
  padding: 0 !important;
  top: -35px !important;
  max-width: none !important;
}

.gm-style-iw-d {
  overflow: auto !important;
}

.gm-style-iw-tc::after {
  top: 0 !important;
}

.gm-style-iw-tc {
  display: none !important;
}

.gm-ui-hover-effect {
  display: none !important;
  top: 6px !important;
  right: 7px !important;
}

.gm-ui-hover-effect span {
  width: 32px !important;
  height: 32px !important;
  margin: 0 !important;
}

.swiper-container {
  width: 100%;
  height: 300px !important;
}
.swiper-wrapper {
  width: 50%;
}
.swiper-slide {
  text-align: center;
  width: auto;
}

.swiper-scrollbar {
  right: 0;
}

.floater-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(166, 143, 109, 0.5) 47%,
    rgba(166, 143, 109, 1) 82%
  );
}

.h-auto-i {
  height: auto !important;
}
.translate-x-rotate-m90 {
  transform: translateX(-48%) rotate(90deg);
}
